#{extends 'main.html' /}
#{set title }&{'PasswordForgottenMailer.email.subject'}#{/set}

<div class="span1">
    &nbsp;
</div>
<div class="span14">
#{ifnot success}
    #{form @PasswordForgotten.forgotPassword(), method:'post', id:'passwordChangeForm'}

        #{Secure/captcha label:"Captcha-Code: ", errors:errors/}

        #{form/input id:'email', label: messages.get('form.Email'), placeholder:messages.get('form.Email'), value:email, errors:errors /}

        #{form/submitReset /}
    #{/form}
#{/ifnot}
#{else}
&{'Password.forgotten.pleaseCheckYourMails'}
    #{if play.Play.mode.isDev()}
        <h4>Versandte E-Mail</h4>
        <pre>${emailText}</pre>
        <p>Kopieren Sie bitte den langen Link in die Adresszeile Ihres Browsers und rufen die Seite auf.</p>
    #{/if}
#{/else}
</div>
<div class="span1">
    &nbsp;
</div>