			<table class="bingo coupon">
				<caption>&{'bingo.winningPattern'}</caption>
	<tbody><tr><td class="ui-selected"></td><td class=""></td><td></td><td class=""></td><td class="ui-selected"></td></tr>
<tr><td class="ui-selected"></td><td class="ui-selected"></td><td></td><td class="ui-selected"></td><td class="ui-selected"></td></tr>
<tr><td class="ui-selected"></td><td class=""></td><td class="ui-selected"></td><td></td><td class="ui-selected"></td></tr>
<tr><td class="ui-selected"></td><td></td><td></td><td></td><td class="ui-selected"></td></tr>
<tr><td class="ui-selected"></td><td></td><td></td><td></td><td class="ui-selected"></td></tr>
</tbody>
			</table>