#{extends 'main.html' /}
#{set title:'Spielregeln' /}
<div class="span16">
    <h2>Spielregeln</h2>
    <br/>

    <p>Bingo ist sowohl ein Lotterie- als auch ein Gesellschaftsspiel, für das mehrere Variationen existieren.</p>

    <p>Für das im Prototypen dieser Arbeit implementierten Spiel gelten folgende Regeln:</p>
    <br/>

    <p>Die Spielteilnehmer kaufen sich beliebig viele Spielkarten, die 24 zufällige Zahlen von 1 bis 75 in einem 5x5
        Raster enthalten.
        Die Mitte des Coupons ist jedoch frei. Ein so genannter Bingo Caller zieht in einem festen Zeitintervall
        zufällige Zahlen von 1 bis 75 ohne Zurücklegen und ruft diese aus.
        Die Spieler markieren genau die Zahlen auf ihren Spielkarten, die bereits gezogen wurden. Sind die markierten
        Zahlen entsprechend eines Gewinnmusters angeordnet,
        kann der Spieler „Bingo“ rufen und gewinnen. Haben mehrere Spieler gleichzeitig ein Muster erreicht, gewinnt nur
        derjenige, der zuerst „Bingo“ gerufen hat. </p>

</div>
